@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    display: flex;
    align-items: center; /*Centrar Vertical*/
    justify-content: center; /*Centrar horizontalmente*/
    min-height: 100vh; /*Esto es para que se adapte al tamaño de la pantalla*/
    background: linear-gradient(90deg, rgba(37,146,208,1) 27%, rgba(32,200,234,1) 100%);
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 2rem;
}