@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    display: flex;
    align-items: center; /*Centrar Vertical*/
    justify-content: center; /*Centrar horizontalmente*/
    min-height: 100vh; /*Esto es para que se adapte al tamaño de la pantalla*/
    background: linear-gradient(90deg, rgba(37,146,208,1) 27%, rgba(32,200,234,1) 100%);
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 20px;
    text-align: center;
    padding: 2rem;
}

form .title{
    color: rgb(24, 27, 71);
    font-size: 1,5em;
    font-weight: 800;
    margin-bottom: 30px;
}

form label{
    margin-bottom: 20px;
}

form label .bx{
    color: rgb(24, 27, 71);
    font-size: 30px;
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    color: rgb(24, 27, 71);
    border-bottom: rgb(24, 27, 71) 1px solid;
    border-radius: 6px;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder{
    color: rgba(49, 52, 100, 0.527);
}

form .link{
    color: rgb(24, 27, 71);
    margin-bottom: 15px;
}

form button{
    color: white;
    font-size: 20px;
    border: none;
    background-color: rgb(24, 27, 71);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
}

form button:hover{
    background-color: rgb(6, 79, 175);
}